@import url("https://fonts.googleapis.com/css?family=Passion+One");
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background: #3d3636;
  color: #f2f2f2;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Passion One', cursive, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.remocon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.remocon > *:not(.showing) {
  display: none;
}
.remocon > .comment-box {
  display: block;
}
.reactions::after {
  clear: both;
  display: block;
  content: '';
}
.reaction-box {
  width: 50%;
  padding-top: 50%;
  position: relative;
  float: left;
  overflow: hidden;
}
.reaction-box:nth-of-type(1) {
  background: #ed5552;
}
.reaction-box:nth-of-type(1) .reaction-btn {
ã€€ background: #94ba49;
  font-size: 3.4rem;
}
.reaction-box:nth-of-type(2) {
  background: #f2f2f2;
}
.reaction-box:nth-of-type(2) .reaction-btn {
  background: #f6732b;
  font-size: 4.8rem;
}
.reaction-box:nth-of-type(3) {
  background: #ffad3d;
}
.reaction-box:nth-of-type(3) .reaction-btn {
 
 background: #0f6984;
  font-size: 3.4rem;
}
.reaction-box:nth-of-type(4) {
  background: #92defe;
}
.reaction-box:nth-of-type(4) .reaction-btn {
  background: #ed5552;
  font-size: 3.2rem;
}
.reaction-box .reaction-btn {
  padding: 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 72%;
  height: 72%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: #f00;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.reaction-box .reaction-btn:active {
  -webkit-transform: scale(0.93);
      -ms-transform: scale(0.93);
          transform: scale(0.93);
}

.end {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.end .reaction-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a9bcdc;
}
.end .reaction-box .reaction-btn {
   background: #c4d0e6;
  font-size: 10rem;
  letter-spacing: 2px;
}
